DATABASE_URL="postgresql://postgres:postgres@localhost:5432/roll?schema=public"
NEXTAUTH_SECRET="replace-with-a-generated-secret"
NEXTAUTH_URL="http://localhost:3000"
APP_URL="http://localhost:3000"
ADMIN_USERNAMES=""
ADMIN_EMAILS=""
CRON_SECRET=""
ALLOW_PUBLIC_REGISTRATION="false"
EMAIL_VERIFICATION_WEBHOOK_URL=""
EMAIL_VERIFICATION_WEBHOOK_TOKEN=""
PASSWORD_RESET_WEBHOOK_URL=""
PASSWORD_RESET_WEBHOOK_TOKEN=""
SERVER_ACTION_ALLOWED_ORIGINS=""
LIBREOFFICE_PATH=""
XLS_CONVERTER_URL=""
XLS_CONVERTER_TOKEN=""
AD_PROVIDER="disabled"
REWARDED_AD_ENABLED="false"
REWARD_POINTS_MIN="5"
REWARD_POINTS_MAX="15"
AD_COOLDOWN_MINUTES="5"
DAILY_POINTS_CAP="100"
REWARDED_AD_MIN_SECONDS="15"
GOOGLE_REWARDED_AD_UNIT=""
REWARDED_VIDEO_URL=""
PASSIVE_POINTS_ENABLED="true"
PASSIVE_POINTS_PER_MINUTE="5"
PASSIVE_POINTS_APPLY_MINUTES="30"
SUPPORT_URL=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
TWITCH_CLIENT_ID=""
TWITCH_CLIENT_SECRET=""
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
REDDIT_CLIENT_ID=""
REDDIT_CLIENT_SECRET=""
AZURE_AD_CLIENT_ID=""
AZURE_AD_CLIENT_SECRET=""
AZURE_AD_TENANT_ID=""
